In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("michelin_us_processed_general_dedup_edit.csv")
df.head(1)

,Name,Address,Zip,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,AveragePrice,state_id,state_name,region,General_Category
0,Manresa,"320 Village Ln., Los Gatos, 95030, United States",95030,Los Gatos,325.0,325.0,USD,"Contemporary, Californian",-121.98071,37.22761,-3276,https://guide.michelin.com/en/california/los-g...,https://www.manresarestaurant.com/,3 MICHELIN Stars,325.0,CA,California,West,Contemporary

In [21]:
df[["General_Category", "Sub_Category"]] = df['Cuisine'].str.split(', ', n=1, expand=True)

In [22]:
df.head()

,Name,Address,Zip,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,AveragePrice,state_id,state_name,region,General_Category,Sub_Category
0,Manresa,"320 Village Ln., Los Gatos, 95030, United States",95030,Los Gatos,325.0,325.0,USD,"Contemporary, Californian",-121.980710,37.227610,-3276,https://guide.michelin.com/en/california/los-g...,https://www.manresarestaurant.com/,3 MICHELIN Stars,325.0,CA,California,West,Contemporary,Californian
1,Atelier Crenn,"3127 Fillmore St., San Francisco, 94123, Unite...",94123,San Francisco,298.0,298.0,USD,"Contemporary, French",-122.435860,37.798350,515,https://guide.michelin.com/en/california/san-f...,https://www.ateliercrenn.com/,3 MICHELIN Stars,298.0,CA,California,West,Contemporary,French
2,Benu,"22 Hawthorne St., San Francisco, 94105, United...",94105,San Francisco,350.0,350.0,USD,"Asian, Contemporary",-122.399060,37.785376,-4130,https://guide.michelin.com/en/california/san-f...,https://www.benusf.com/,3 MICHELIN Stars,350.0,CA,California,West,Asian,Contemporary
3,Quince,"470 Pacific Ave., San Francisco, 94133, United...",94133,San Francisco,360.0,360.0,USD,"Contemporary, Californian",-122.403261,37.797505,-7860,https://guide.michelin.com/en/california/san-f...,https://www.quincerestaurant.com/,3 MICHELIN Stars,360.0,CA,California,West,Contemporary,Californian
4,Eleven Madison Park,"11 Madison Ave., New York, 10010, United States",10010,New York,125.0,285.0,USD,"Contemporary, Innovative",-73.987241,40.741554,-582,https://guide.michelin.com/en/new-york-state/n...,https://www.elevenmadisonpark.com/,3 MICHELIN Stars,205.0,NY,New York,Northeast,Contemporary,Innovative

In [23]:
df.to_csv("michelin_us_processed_subcat.csv", index=False)

In [59]:
# Yelp dataset for Boston restaurants
df_yelp = pd.read_json("yelp_academic_dataset_business.json", lines=True)

In [60]:
df_yelp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [40]:
df_yelp_filtered = df_yelp[df_yelp["stars"] == 5.0]

In [62]:
df_yelp_filtered = df_yelp_filtered[df_yelp_filtered["state"] == "MA"]

In [57]:
df_yelp_filtered = df_yelp[df_yelp["city"] == "Affton"]

In [63]:
df_yelp_filtered

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []